#cover {
    width: 350px;
    display: inline-block;
    margin-left: 200px;
  }
  #info {
    display: inline-block;
    width: 550px;
  }
  .link {
    justify-content: flex-end;
    align-self: flex-end;
  }
  #single {
     display: flex;
     margin-top: 15px;
  }
  #quantity {
    width: 30px;
  }
  #purch {
    background-color: darkgreen;
    border-radius: 5px;
    color: white;
    padding: 6px;
  }